<div class="inner-pages-wrapper">

    <app-side-bar></app-side-bar>
    <app-header></app-header>
    
    <div class="inner-pages">
      <div class="inner-block">
        <div class="msg-header-wrap">
            <div class="back-header">
            <a href="#" title="Back"><i><img src="./assets/images/black-right-arrow.svg"></i><span>Back</span></a>
          <h2>Choose Template </h2>
          </div>
        </div>
        <div class="stepper-block">
           

<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step>
    <ng-template matStepLabel>Draft Message</ng-template>
        <div class="stepper-detail">
              <div class="stepper-detail-inner">
                 
                  <div class="form-outer common-block">
                    <label>Distribute Via :</label>
                  <form class="form">
                    <div class="checkbox-wrapper">
                    <mat-checkbox class=" custom-checkbox">Text Message</mat-checkbox>
                 
                  
                    <mat-checkbox class=" custom-checkbox">Email</mat-checkbox>
                 
                  
                    <mat-checkbox class=" custom-checkbox">Facebook</mat-checkbox>
                  </div>
              
                      <textarea matInput placeholder="" class="form-control"></textarea>
                    </form>
                  </div>
                  <div class="common-block">

                  </div>
             

              </div>
        </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose Recipients</ng-template>
   step2
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Preview and Send</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

        </div>
       
       
        </div>
        </div>
        </div>

