/*color variables */
$black:#000;
$white: #FFF;
$gray: #D9D9D9;
$orange : #F78F1E;
$light-orange:#fef4e8;
$light-black: #212121;
$blue:#1D8BFA;
$dark-gary:#979797;
$input-border:#ECECEC;
$gray-text:#757575;
$light-black-text:#606060;
$gray-text-1:#878787;
$light-blue:#E8F7FF;
$red:#FF2E35;
$gray-1:#F5F5F5;
$light-pink:#faefe4;
$light-red:#ffeaeb;
$light-pink-1:#FFF1F1;
$light-gray-1:#606060;
$light-blue-1:#e8f3ff;
$green:#2FC10A;
$light-green:#eaf9e7;
$purpal:#BB65FF;
$light-purpal:#f8f0ff;
$dropdown-border:#E2E2E2;
