<div class="authentication-page forgot-password-page">
    <div class="auth-left-wrapper">
    <app-auth-left></app-auth-left>
    </div>
    <div class="auth-right-block">
        <div class="auth-right-block-inner">
        <div class="auth-logo">
            <i><img src="./assets/images/right-auth-logo.png" alt=""></i>
        </div>
        <div class="form-block">
            <h2>Forgot Password?</h2>
            <p>Enter the email address or username
                associated with your account</p>
            <div class="form-group-wrapper">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter your Email">
            </div> 
        </div>
           
     <button mat-button class="primary-btn reset-password">
        Reset Password
            </button>
            <div class="form-bottom">
            <span class="password-link auth-link">Remember your password?
            
            </span>
            <a routerLink="../create_password" title="Forgot Password" class="forgot-password auth-link">
                Sign in</a>
        </div>
        </div>
        </div>
        <p class="auth-footer">All rights reserved by <a href="#" title="School-links" class="auth-footer-link">School-links</a> | ©2023</p>
    </div>

    </div>
