@import 'general';

.auth-left-wrapper{width:50%}

.auth-left-content-wrapper{background: rgba(246, 245, 253, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;background-image: url(../../../assets/images/left-auth-bg.jpg);
    @include rem-fallback(padding,70,150,20,40);
    // max-width:42rem;
    // width:90%;

}
    
.auth-left-content-wrapper h2{color:$light-black;@include rem-fallback(margin-bottom,10);padding-bottom:0;}   
.auth-left-content-wrapper h2 span{display:inline-block;color:$orange}
.auth-left-content-wrapper p{font-weight:400;@include rem-fallback(margin-bottom,30);}

.white-btn{border:1px solid }

.auth-left-content-wrapper .point-listing li{display:flex;align-items: flex-start;margin-bottom:1rem}
.auth-left-content-wrapper .point-listing li i{display:inline-block;@include rem-fallback(margin,7,10,0,0);}
.auth-left-content-wrapper .point-listing li i img{display:block;width:100%}
.auth-left-content-wrapper .point-listing li p{margin-bottom:0;}
.border-btn{transition:0.3s all; background-color: rgba(255, 255, 255, 0.3);border: 2px solid rgba(247, 143, 30, 0.2);@include rem-fallback(margin-top,15); @include rem-fallback(padding,9,15);@include rem-fallback(font-size,16); @include rem-fallback(border-radius,2);font-weight:600;background-color:transparent}
.border-btn i{display:inline-block;@include rem-fallback(width,10);transition:0.3s all;}
.border-btn i img{width:100%}
.border-btn:hover{border: 2px solid rgb(247, 143, 30);}
.border-btn:hover i{transform:translate(3px)}
.border-btn span:before{display:none;}


.social-links{margin-top:4rem;display:flex;align-items:center;}
.social-links li{padding:0 0.5rem}
.social-links li a{display:inline-block;padding:0.5rem; height:3rem;width:3rem;border-radius:100%;border:1px solid $blue;display:flex;
align-items:center;justify-content:center;}
.social-links li a img{width:1rem;}
.social-links li .facebook img{width:0.6rem}
.social-links li a:hover{box-shadow: 1px 1px 1px 0.5px $blue}


body{padding:1.875rem;font-family:$primary-font;}
