<div class="auth-left-content-wrapper" style="background-image: url('./assets/images/left-auth-bg.jpg');">
    <div class="auth-left-content-inner">
        <h2>
            Instantly and effortlessly
            send text messages
            with <span><strong>School</strong>-links</span>
        </h2>
        <p>
            Text updates to caregivers on emergencies, absences, news, and events from
            your desk top or mobile phone.
        </p>
        <ul class="point-listing">
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Proven in emergencies</p></li>
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Secure</p></li>
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Easy to use</p></li>
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Integrates with your student information system (SIS)</p></li>
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Cost-effective</p></li>
            <li><i><img src="./assets/images/auth-list-arrow.svg"></i><p>Saves time and resources</p></li>
        </ul>
        <p>
            Seamlessly manage emergencies and attendance. Give your staff and
            community complete peace of mind.
        </p>
        <div class="btn-wrapper">
            <button mat-button class="border-btn">Know
                More 
                    <i><img src="./assets/images/right-arrow.png"></i>
                </button>
        </div>

        <ul class="social-links">
            <li>
                <a href="#" title="Facebook" class="facebook">
                 <img src="./assets/images/facebook.svg" alt="" class="normal-img">
                 <img src="./assets/images/facebook-hover.svg" alt="" class="hover-img">
                </a>
            </li>
            <li>
                <a href="#" title="LinkedIn">
                    <img src="./assets/images/linked-in.svg"  class="normal-img" alt>
                    <img src="./assets/images/linked-in-hover.svg" class="hover-img"  alt>

                </a>
            </li>
        </ul>
        
    </div>
</div>