@import "general";

.header{ transition:all 0.3s;position:fixed;@include rem-fallback(left,280);right:0;top:0;z-index:2;
    .header-inner{display:flex;justify-content:space-between;background-color:$white;}
    .header-left{display:flex;flex-wrap:wrap;align-items:center;
        .sidebar-toggle{transition:all 0.3s;  @include rem-fallback(margin-right,20); @include rem-fallback(width,30);@include rem-fallback(height,30);padding:0;
            .mdc-icon-button__ripple{
                display:none !important;
                &:before{
                    display:none !important
                }
            }
            .mat-mdc-icon-button{
                &:hover{
                    .mat-mdc-button-persistent-ripple{
                        &:before{
                            opacity:0 !important;
                        }
                    }
                }
            }

        }
    }
    .mat-toolbar{@include rem-fallback(padding,15);}
    .admin-profile{display:flex;justify-content:space-between;
        i{display:inline-block;@include rem-fallback(margin-right,7);}
    }
    .admin-name{display:flex;flex-direction:column;
        .bold-name{@include rem-fallback(font-size,14);@include rem-fallback(line-height,21);font-weight:600;color:$light-black}
        .email{@include rem-fallback(font-size,12);@include rem-fallback(line-height,18);font-weight:400;color:$light-black}
    }
    .header-right{
     .school-name{display:flex;justify-content:flex-start;align-items: center;
        i{display:inline-block;@include rem-fallback(margin-right,6);}
        span{display:inline-block;@include rem-fallback(font-size,18);@include rem-fallback(line-height,27);color:$blue;font-weight:500;}

    
    }
    }

}
