<div class="header">
<mat-toolbar class="header-inner">
    <div class="header-left">
    <button mat-icon-button class="sidebar-toggle" (click)="clickEvent()" disableRipple aria-label="Example icon-button with menu icon">
      <img src="./assets/images/hamburger.svg">
    </button>
    <div class="admin-profile">
      <i><img src="./assets/images/admin-person.svg" alt=""></i>
      <div class="admin-name">
        <span class="bold-name">Wade Waren</span>
        <span class="email">wadewaren@gmail.com</span>
      </div>
    </div>
  </div>
  <div class="header-right">
    <div class="school-name">
        <i><img src="./assets/images/degree-icon.svg" alt=""></i>
        <span>Nodoworry School</span>
    </div>
  </div>

    
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img>
    </button> -->
  </mat-toolbar>
</div>
  