<div class="header">
<mat-toolbar>
    <div class="">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <img src="./assets/images/hamburger.svg">
    </button>
    <span>My App</span>
    <div class="admin-profile">
      <i><img src="./assets/images/admin.svg" alt=""></i>
      <div class="admin-name">
        <span>Wade Waren</span>
        <span>wadewaren@gmail.com</span>
      </div>
    </div>
  </div>

    
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img>
    </button> -->
  </mat-toolbar>
</div>
  