<div class="authentication-page forgot-password-page">
    <div class="auth-left-wrapper">
    <app-auth-left></app-auth-left>
    </div>
    <div class="auth-right-block">
        <div class="auth-right-block-inner">
        <div class="auth-logo">
            <i><img src="./assets/images/right-auth-logo.png" alt=""></i>
        </div>
        <div class="form-block">
            <h2>Create a Password</h2>
            <div class="form-group-wrapper">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter new password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Enter confirm password">
            </div>
    
        </div>
            
    <button mat-button class="reset-password primary-btn" mat-raised-button (click)="openDialog()">
                sign in
            </button>
            <div class="form-bottom">
            <span class="password-link auth-link">Already have an account?
            </span>
            <a href="" title="Forgot Password" class="forgot-password auth-link">Login</a>
        </div>
        </div>
        </div>
        <p class="auth-footer">All rights reserved by <a href="#" title="School-links" class="auth-footer-link">School-links</a> | ©2023</p>
    </div>

</div>

