<div class="pagination-wrapper">
    <p>Showing 10 of 28 entries</p>
    <ul>
      <li class="pagination-link prev"><a href="#" title=""><i><img src="./assets/images/black-right-arrow.svg" class="normal-img"><img src="./assets/images/white-right-arrow.svg" class="hover-img"></i></a></li>
      <li class="pagination-link active"><a href="#" title="1">1</a></li>
      <li class="pagination-link"><a href="#" title="2">2</a></li>
       <li class="pagination-link"><a href="#" title="3">3</a></li>
        <li class="pagination-link next"><a href="#" title=""><i><img src="./assets/images/black-right-arrow.svg" class="normal-img"><img src="./assets/images/white-right-arrow.svg" class="hover-img"></i></a></li>
    </ul>
</div>