
          <div class="side-bar-section">
          <a href="#" class="side-bar-logo" title=""><img src="./assets/images/right-auth-logo.png" alt=""></a>
          <ul>
            <li><a routerLinkActive="active" routerLink="/dashboard" title="Home">
              <i>
                <img src="./assets/images/home.svg" class="normal" alt="">
                <img src="./assets/images/home-active.svg" class="active"  alt="">
              </i>
              <span>Home</span></a>
            </li>
            <li><a routerLinkActive="active" routerLink="/my-school" title="My Schools">
              <i>
                <img src="./assets/images/school.svg" class="normal" alt="">
                <img src="./assets/images/school-active.svg" class="active"  alt="">
              </i>
              <span>My Schools</span></a></li>
            <li><a routerLink="/dashboard" title="Messages">
              <i>
                <img src="./assets/images/message.svg" class="normal" alt="">
                <img src="./assets/images/message-active.svg" class="active"  alt="">
              </i>
              <span>Messages</span></a>
            </li>
            <li><a routerLink="/dashboard" title="Groups">
              <i>
                <img src="./assets/images/people.svg" class="normal" alt="">
                <img src="./assets/images/people-active.svg" class="active"  alt="">
              </i>
              <span>Groups</span></a>
            </li>
            <li><a routerLink="/dashboard" title="Users and Roles">
              <i>
                <img src="./assets/images/admin.svg" class="normal" alt="">
                <img src="./assets/images/admin-active.svg" class="active"  alt="">
              </i>
              <span>Users and Roles</span></a>
            </li>
            <li><a routerLink="/my-school" title="School Details">
              <i>
                <img src="./assets/images/news.svg" class="normal" alt="">
                <img src="./assets/images/news-active.svg" class="active"  alt="">
              </i>
                <span>School Details</span></a></li>
            <li><a routerLink="/my-school" title="Data Management">
              <i>
                <img src="./assets/images/data.svg" class="normal" alt="">
                <img src="./assets/images/data-active.svg" class="active"  alt="">
              </i>
              <span>Data Management</span></a></li>
            <li><a routerLink="/my-school" title="My Account">
              <i>
                <img src="./assets/images/my-acc.svg" class="normal" alt="">
                <img src="./assets/images/my-acc-active.svg" class="active"  alt="">
              </i>
              <span>My Account</span>
            </a></li>
            <li><a routerLink="/my-school" title="Contacts and Help"><i>
              <img src="./assets/images/contact.svg" alt="">
              <img src="./assets/images/contact-active.svg" class="active"  alt="">
            </i>
              <span>Contacts and Help</span></a></li>
        </ul>

        <div class="side-bar-footer">
            <button mat-button class="logout-btn primary-btn"><i><img src="./assets/images/logout.svg" alt=""></i><span>Logout</span></button>
            <p><a href="#" title="School-links">School-links</a>| ©2023</p>
        </div>
        
      </div>
       
   