@import 'general';

.msg-header-wrap{
    display:flex;
    justify-content:space-between;
}









/* search -input */






/*end*/
.dropdown-wrapper{
    @include rem-fallback(margin,0,-5);
}

.dropdown-block{
    @include rem-fallback(padding,0,5);
}
.tab-content-table{
    .mat-mdc-header-cell{
        i{
            @include rem-fallback(margin-left,10);
            display:inline-block;
        }
    }
  }




