<div class="inner-pages-wrapper">

    <app-side-bar></app-side-bar>
    <app-header></app-header>
    
    <div class="inner-pages">
      <div class="inner-block">
        <div class="msg-header-wrap">
          <h2>Message</h2>
          <button mat-button class="secondary-btn pink-btn">
            <i><img src="./assets/images/school-icon.svg" alt=""></i><span>School not showing up?</span>
        </button>
        </div>
        <div class="tabbing-block">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Sent"><app-sent-tab></app-sent-tab></mat-tab>
          <mat-tab label="Received">Content 2</mat-tab>
          <mat-tab label="Draft">Content 3</mat-tab>
          <mat-tab label="Template">Content 3</mat-tab>
        </mat-tab-group>
      </div>
        </div>
        </div>
        </div>

