
<div class="tab-content">
    <div class="tab-content-header sent-tab">
            <div class="left-tab-header">
                <div class="search-input">
                <mat-form-field class="example-full-width form-field">
                    <input matInput placeholder="Search" type="search" class="form-control">
                    <i><img src="./assets/images/search.svg"></i>
                  </mat-form-field>
                </div>
            </div>
            <div class="right-tab-header">
    
            </div>
    </div>
</div>