@import 'general';


.user-table-wrapper{

.msg-table{
    span{
        height:auto !important;
        width:auto !important;
        padding:0 !important;
        i{
        width:22px;
        @include rem-fallback(padding,0,4);
        height:22px;
        img{
            width:100%;
        }
    }
    }
    .facebook{
        display: inline-block !important;
        width:15px !important;
    }

}
.hide{
    @include rem-fallback(padding,0,5);
    span{
        background-color: $light-pink;
        border:1px solid transparent;
        i{
            @include rem-fallback(height,11);
        }
    }
    &:hover{
        span{
            border-color:$orange;
        }
    }
}

}


.mat-column-date,.mat-column-ndate{
    flex: 0 0 13% !important;
    width: 13% !important;
}

.mat-column-name{
    flex: 0 0 19% !important;
    width: 19% !important;
}

.mat-column-detail {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }



  .tab-content-table{
    .mat-mdc-header-cell{
        i{
            @include rem-fallback(margin-left,10);
            display:inline-block;
        }
    }
  }