@import 'general';


.user-table-wrapper{

.msg-table{
    span{
        height:auto !important;
        width:auto !important;
        padding:0 !important;
        i{
        width:20px;
        @include rem-fallback(padding,0,4);
        height:20px;
        img{
            width:100%;
        }
    }
    }
    .facebook{
        display: inline-block !important;
        width:15px !important;
    }

}
.hide{
    span{
        background-color: $light-pink;
        i{
            @include rem-fallback(height,11);
        }
    }
}

}







