
<div class="tab-content">
    <div class="tab-content-header sent-tab">
            <div class="left-tab-header">
                <div class="search-input">
                <mat-form-field class="example-full-width form-field">
                    <input matInput placeholder="Search" type="search" class="form-control">
                    <i><img src="./assets/images/search.svg"></i>
                  </mat-form-field>
                </div>
            </div>
            <div class="right-tab-header">
                <div class="dropdown-wrapper">
                    <div class="dropdown-block">
                        <mat-form-field appearance="fill" class="custom-deropdown">
                          <mat-select [(value)]="selected">
                            <mat-option value="1">Bounced</mat-option>
                            <mat-option value="2">Unreceived</mat-option>
                            <mat-option value="3">Bounced</mat-option>
                          </mat-select>
                        </mat-form-field>
  
                      </div>
                      <div class="dropdown-block">
                        <mat-form-field appearance="fill" class="custom-deropdown">
                          <mat-select [(value)]="selected">
                            <mat-option value="1">Today Only</mat-option>
                            <mat-option value="2">Email Only</mat-option>
                            <mat-option value="3">Today Only</mat-option>
                          </mat-select>
                        </mat-form-field>
  
                      </div>
                </div>
            </div>
    </div>
    <div class="tab-content-detail">
        <div class="tab-content-table">
            <div class="user-table-wrapper">
            <div class="user-table">
                <div class="user-table-container mat-elevation-z8">
                  <mat-table #table  [dataSource]="dataSource">
    
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                      <!-- <mat-cell *matCellDef="let element" [innerHTML]="element.name">
                      </mat-cell> -->

                      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                
                
                    <ng-container matColumnDef="detail">
                      <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.detail}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef> Delivery </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                   
                        <div class="actions msg-table">
                            <a href="#" title="Message" class="msg">
                                <span><i><img src="./assets/images/msg.svg"></i></span>
                            </a>
                            <a href="#" title="Email" class="mail">
                                <span><i><img src="./assets/images/mail.svg"></i></span>
                            </a>
                            <a href="#" title="Facebook" class="facebook">
                                <span><i><img src="./assets/images/facebook-1.svg"></i></span>
                            </a>
                        </div> 
      
                        </mat-cell>
                      </ng-container>
                
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef>Created </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ndate">
                        <mat-header-cell *matHeaderCellDef> Sent </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ndate}} </mat-cell>
                      </ng-container>
    
                    <ng-container matColumnDef="no">
                      <mat-header-cell *matHeaderCellDef> No. Recipients </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.no}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="hide">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element">
                   
                        <div class="actions hide">
                            <a href="#" title="edit" class="edit">
                                <span><i><img src="./assets/images/hide.svg"></i></span>
                            </a>
                        </div> 
      
                        </mat-cell>
                      </ng-container>
                   
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
            </div>
            <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>


                
              </div>


        </div>


    </div>

</div>