
<div class="authentication-page">
<div class="auth-left-wrapper">
<app-auth-left></app-auth-left>
</div>
<div class="auth-right-block">
    <div class="auth-right-block-inner">
    <div class="auth-logo">
        <i><img src="./assets/images/right-auth-logo.png" alt=""></i>
    </div>
    <div class="form-block">
        <h2>Sign in</h2>
        <div class="form-group-wrapper">
        <div class="form-group">
            <label>Email</label>
            <input stype="" class="form-control" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input stype="" class="form-control" placeholder="Enter your password">
        </div>

    </div>
        <mat-checkbox class="custom-checkbox"> Remember me</mat-checkbox>

        

        <button mat-button class="orange-btn">
            sign in
        </button>
        <div class="form-bottom">
        <span class="password-link auth-link">Don’t have your password?
        </span>
        <a href="" title="Forgot Password" class="forgot-password auth-link">Forgot Password</a>
    </div>
    </div>
    </div>
    <p class="auth-footer">All rights reserved by <a href="#" title="School-links" class="auth-footer-link">School-links</a> | ©2023</p>
</div>
</div>