<div class="inner-pages-wrapper">

    <app-side-bar></app-side-bar>
    <app-header></app-header>
    
    <div class="inner-pages">
      <div class="inner-block">
        <div class="dashboard-header">
          <h2>Home</h2>
          <span>Last Refreshed 05/12/20222</span>
        </div>
        <div class="dashboard-alert-wrapper">
        <div class="dashboard-alert-outer">
          <div class="dashboard-alert-block">
            <i><img src="./assets/images/message-alert.svg"></i>
            <h3>Send <span>Emergency Alert</span> to all school</h3>
            <button mat-button class="secondary-btn red-btn">
              <i><img src="./assets/images/alert.svg" class="normal-img" alt="">
                <img src="./assets/images/white-alert.svg" class="hover-img" alt="">
              
              </i><span>Emergency Alert send now</span>
          </button>
          </div>
          </div>
          <div class="school-holiday-block-outer">
          <div  class="school-holiday-block">
            <i><img src="./assets/images/school-holiday-img.png"></i>
            <div class="school-holiday-detail">
              <h6>School-links Holiday closure</h6>
              <p>It’s that time of year again when everyone is gearing up to end 2022 with Christmas and New Year festivities Check fu..</p>
              <div class="holiday-info">
                <div class class="holiday-date">
                  <i><img src="" alt=""></i>
                  <span class="date">02/12/2022</span>
                </div>
                <a href="#" title="Read more">Read more</a>
              </div>
            </div>
           
          </div>
          </div>
      </div>
      <div class="message-status-block-outer">
        <div class="message-status-block">
            <ul class="message-listing">
                <li>
                    <i><img src="./assets/images/school-holiday-img.svg"></i>
                    <div class="message-detail">
                        <h5>Delivery confirmed</h5>
                        <span>77</span>
                    </div>
                </li>
                <li>
                  <i><img src="./assets/images/"></i>
                  <div class="message-detail">
                      <h5>Delivery failed messages</h5>
                      <span>20</span>
                  </div>
              </li>
              <li>
                <i><img src="./assets/images/"></i>
                <div class="message-detail">
                    <h5>Bounced messages</h5>
                    <span>25</span>
                </div>
            </li>
                <li></li>
                <li></li>
            </ul>
        </div>
      </div>

        </div>
        </div>
        </div>
