<div class="inner-pages-wrapper">

    <app-side-bar></app-side-bar>
    <app-header></app-header>
    
    <div class="inner-pages">
      <div class="inner-block">
        <div class="dashboard-header">
          <h2>Home</h2>
          <span>Last Refreshed 05/12/20222</span>
        </div>
        <div class="dashboard-alert-wrapper">
        <div class="dashboard-alert-outer">
          <div class="dashboard-alert-block">
            <i><img src="./assets/images/message-alert.svg"></i>
            <h3>Send <span>Emergency Alert</span> to all school</h3>
            <button mat-button class="secondary-btn red-btn">
              <i><img src="./assets/images/alert.svg" class="normal-img" alt="">
                <img src="./assets/images/white-alert.svg" class="hover-img" alt="">
              
              </i><span>Emergency Alert send now</span>
          </button>
          </div>
          </div>
          <div class="school-holiday-block-outer">
          <div  class="school-holiday-block">
            <i><img src="./assets/images/school-holiday-img.png"></i>
            <div class="school-holiday-detail">
              <h6>School-links Holiday closure</h6>
              <p>It’s that time of year again when everyone is gearing up to end 2022 with Christmas and New Year festivities Check fu..</p>
              <div class="holiday-info">
                <div class class="holiday-date">
                  <i><img src="./assets/images/calendar.svg" alt=""></i>
                  <span class="date">02/12/2022</span>
                </div>
                <a href="#" title="Read more">Read more</a>
              </div>
            </div>
           
          </div>
          </div>
      </div>
      <div class="message-status-block-outer">
        <div class="message-status-block">
            <ul class="message-listing">
                <li>
                  <div class="msg-listing-inner">
                    <i><img src="./assets/images/msg-deliver.svg"></i>
                    <div class="message-detail">
                        <h6>Delivery confirmed</h6>
                        <span class="yellow">77</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="msg-listing-inner">
                  <i><img src="./assets/images/msg-failed.svg"></i>
                  <div class="message-detail">
                      <h6>Delivery failed messages</h6>
                      <span class="red">20</span>
                  </div>
                  </div>
              </li>
              <li>
                <div class="msg-listing-inner">
                <i><img src="./assets/images/msg-bounce.svg"></i>
                <div class="message-detail">
                    <h6>Bounced messages</h6>
                    <span class="blue">25</span>
                </div>
                </div>
            </li>
            </ul>
        </div>
      </div>
      <div class="user-table-wrapper">
          <div class="user-table-header">
              <h3>Users</h3>
              <a href="#" tite="View All">View All</a>
          </div>
          <div class="user-table">
            <div class="user-table-container mat-elevation-z8">
              <mat-table #table  [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element" [innerHTML]="element.name">
                  </mat-cell>
                </ng-container>
            
            
                <ng-container matColumnDef="number">
                  <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
                </ng-container>
            
               
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="roles">
                  <mat-header-cell *matHeaderCellDef> Roles </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.roles}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="login">
                  <mat-header-cell *matHeaderCellDef> Last Login </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                  <mat-cell *matCellDef="let element">
             
                  <div class="actions">
                      <a href="#" title="edit" class="edit">
                          <span><i><img src="./assets/images/edit.svg"></i></span>
                      </a>
                      <a href="#" title=""delete  class="delete">
                          <span><i><img src="./assets/images/delete.svg"></i></span>
                      </a>
                  </div> 

                  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            
          </div>
      </div>
      <div class="msg-block-wrapper">
          <div class="msg-block msg-sent-block">
            <div class="msg-block-inner">
                <div class="msg-dropdown-wrap">
                    <h5>Message Sent</h5>
                    <div class="dropdown-block">
                      <mat-form-field appearance="fill" class="custom-deropdown">
                        <mat-select [(value)]="selected">
                          <mat-option value="1">This Week</mat-option>
                          <mat-option value="2">Last Month</mat-option>
                          <mat-option value="3">Last Week</mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                </div>
                <div class="chart-block">
                  <app-bar-chart></app-bar-chart>
                </div>
            </div>

          </div>
          <div class="msg-block last-msg-block">
            <div class="msg-block-inner">
            <h5>Your Last Message</h5>
            <span class="today-msg">NDS : todays general messages</span>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <div class="msg-platform">
                <span>Sent Via :</span>
                <ul>
                  <li><a href="#" title="Message" class="msg">Message</a></li>
                  <li><a href="#" title="Email" class="email">Email</a></li>
                  <li><a href="#" title="Facebook" class="facebook">Facebook</a></li>
                </ul>
            </div>
            <div class="msg-time-wrapper">
                <p><i><img src="./assets/images/msg-icon.svg" alt=""></i>Sent 02/12/2020 <span>10:22 am</span></p>
                <span class="reply">2 Reply</span>
            </div>
          </div>
          </div>
      </div>
      </div>
        </div>
        </div>


        