<div class="inner-pages-wrapper">

    <app-side-bar></app-side-bar>
    <app-header></app-header>
    
    <div class="inner-pages">
      <div class="inner-block">
        <div class="dashboard-header">
          <h2>Home</h2>
          <span>Last Refreshed 05/12/20222</span>
        </div>
        <div class="dashboard-alert-outer">
          <div class="dashboard-alert-block">
            <i><img src="./assets/images/"></i>
            <h3>Send <span>Emergency Alert</span> to all school</h3>
            <button mat-button class="secondary-btn red-btn">
              <i><img src="./assets/images/alert.svg" class="normal-img" alt="">
                <img src="./assets/images/white-alert.svg" class="hover-img" alt="">
              
              </i><span>Emergency Alert send now</span>
          </button>
          </div>
        </div>

        </div>
        </div>
        </div>
