@import "general";

.dashboard-header{
    display:flex;justify-content:space-between;
    span{
        @include rem-fallback(font-size,16);
        @include rem-fallback(line-height,24);
        font-weight:400;
        color:$light-black;
    }
}



.dashboard-alert-wrapper{display:flex;@include rem-fallback(margin,0,-10 , 30);}

.dashboard-alert-outer,.school-holiday-block-outer{
    @include rem-fallback(padding,0,10);
    width:50%;
   
}
.dashboard-alert-block {
    background-color:$light-pink-1;
    @include rem-fallback(padding,20);
    text-align: center;
    @include rem-fallback(border-radius,8);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height:100%;

    > i{
        display:inline-block;
        @include rem-fallback(margin-bottom,15);
    }
    h3{
        @include rem-fallback(font-size,24);
        @include rem-fallback(line-height,32);
        font-weight:400;
        span{
            font-weight:800;
        }
    }

}
.school-holiday-block{
    display:flex;
    @include rem-fallback(padding,30);
    height:100%;
    background-color: $white;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    @include rem-fallback(border-radius,8);
    i{
        @include rem-fallback(margin-right,15);
    }
    .school-holiday-detail{
        h6{
            font-weight:500;
            @include rem-fallback(margin-bottom,10);
            padding-bottom:0;
        }
        p{
            font-weight:400;
            @include rem-fallback(line-height,28);
            @include rem-fallback(margin-bottom,10);
            padding-bottom:0;
            color:$light-gray-1;

        }
        .holiday-info{
            display:flex;
            justify-content:space-between;
            align-items:center;
            .holiday-date{
                display:flex;
                align-items: center;
                span{
                    font-weight:400;
                    @include rem-fallback(font-size,14);
                    @include rem-fallback(line-height,18);
                    
                }
            }
            a{
                @include rem-fallback(font-size,16);
                    @include rem-fallback(line-height,18);
                    font-weight:500;
                    color:$blue;
                    text-decoration:none;
                    position:relative;
                    &:after{
                        content: "";
                        position:absolute;
                        left:0;
                        bottom:0;
                        width:0;
                        height: 1px;
                        background-color: $blue;
                        transition:0.3s all;
                    }
                    &:hover{
                        &:after{
                            width:100%;
                        }
                    }
            }
        }
    }
}



.message-status-block{
    i{
        @include rem-fallback(margin-right,15);
    }
    .message-listing{
        display: flex;
        justify-content:space-between;
        flex-wrap:wrap;
        @include rem-fallback(margin,0,-10,30);
        i{
            display:inline-block;
            
        }
        li{
            width:33.33%;
            @include rem-fallback(padding,10);
            .msg-listing-inner{
                display:flex;
                background-color: $white;
                @include rem-fallback(padding,20);
                @include rem-fallback(border-radius,8);
                box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                height: 100%;
        }
        }
        .message-detail{
        h6{
            @include rem-fallback(font-size,16);
            @include rem-fallback(line-height,18);
            font-weight:400;
            @include rem-fallback(margin-bottom,15);
            padding-bottom:0;
        }
        span{
            @include rem-fallback(font-size,28);
            @include rem-fallback(font-size,32);
            font-weight:700;
        }
        .yellow{
            color:$orange;
        }
        .red{
            color:$red;
        }
        .blue{
            color:$blue;
        }
    }
    }
}


.msg-block-wrapper{
    display:flex;
    justify-content:space-between;
    @include rem-fallback(margin,0,-10);
    .msg-block-inner{
        background-color: $white;
        @include rem-fallback(padding,20);
        .msg-dropdown-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .msg-sent-block{
        h5{
            margin-bottom:0 !important;
        }
       .msg-block-inner{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
       } 
    }

    .msg-block{
        @include rem-fallback(padding,0,10);
        width:50%;
        h5{
            color:$light-black;
            font-weight: 500;
            @include rem-fallback(margin-bottom,30);
            padding:0;
        }
    }
    .last-msg-block{
        .today-msg{
            color:$blue;
            @include rem-fallback(font-size,16);
            @include rem-fallback(line-height,20);
            font-weight:500;
            @include rem-fallback(margin-bottom,15);
            display:inline-block;
        }
        p{
            color:$light-black-text;
            @include rem-fallback(font-size,14);
            @include rem-fallback(line-height,24);
            font-weight:400;
            @include rem-fallback(margin-bottom,30);
        }
   
    .msg-platform{
        span{
            display:inline-block;
            font-weight:400;
            @include rem-fallback(margin-bottom,12);
            @include rem-fallback(line-height,24);
            color: $black;
        }
    }
    ul{
        display: flex;
        flex-wrap:wrap;
        @include rem-fallback(margin,0,-6,30);
        li{
            @include rem-fallback(padding,0,6);
            a{
                display: inline-block;
               
                @include rem-fallback(padding,5,20);
                @include rem-fallback(border-radius,34);
                @include rem-fallback(font-size,14);
                @include rem-fallback(line-height,24);
                font-weight:500;
                text-decoration:none;
            }
            .msg{
                color:$green;
                background-color: $light-green;
            }
            .email{
                color:$purpal;
                background-color:$light-purpal;
            }
            .facebook{
                color:$blue;
                background-color: $light-blue-1;
            }
        }

        }
        .msg-time-wrapper{
            display:flex;
            justify-content: space-between;
            p{
                @include rem-fallback(font-size,14);
                @include rem-fallback(line-height,18);
                margin-bottom:0;
                i{
                    display:inline-block;
                    @include rem-fallback(margin-right,8);
                    @include rem-fallback(width,20);
                    img{
                        width:100%;
                    }
                }
                span{
                    display:inline-block;
                    @include rem-fallback(margin-left,10);
                }
            }
            .reply{
                @include rem-fallback(padding,5,20);
                @include rem-fallback(border-radius,34);
                @include rem-fallback(font-size,14);
                @include rem-fallback(line-height,24);
                font-weight:500;
                text-decoration:none;
                display: inline-block;
                color:$orange;
                background-color:$light-orange;
            }

        }
    }

}

