<div class="tab-content">
    <div class="tab-content-header sent-tab">
            <div class="left-tab-header">
                <div class="search-input">
                <mat-form-field class="example-full-width form-field">
                    <input matInput placeholder="Search" type="search" class="form-control">
                    <i><img src="./assets/images/search.svg"></i>
                  </mat-form-field>
                </div>
            </div>
            <div class="right-tab-header">
                <div class="dropdown-wrapper">
                    <div class="dropdown-block">
                        <mat-form-field appearance="fill" class="custom-deropdown">
                          <mat-select [(value)]="selected">
                            <mat-option value="1">Date : Ascending </mat-option>
                            <mat-option value="2">Descending</mat-option>
                            <mat-option value="3"> Ascending</mat-option>
                          </mat-select>
                        </mat-form-field>
  
                      </div>
                </div>
            </div>
    </div>
    <div class="tab-content-detail">

        <div class="template-row">
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Soccer Training Cancelled</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email, Facebook</p>
                            <div class="actions">
                            
                                <a href="#" title=""delete  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Yoga Classes</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email</p>
                            <div class="actions">
                            
                                <a href="#" title=""delete  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="template-row">
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Soccer Training Cancelled</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email, Facebook</p>
                            <div class="actions">
                            
                                <a routerLink="/choose-template" title="delete"  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Yoga Classes</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email</p>
                            <div class="actions">
                            
                                <a href="#" title="delete"  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="template-row">
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Soccer Training Cancelled</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email, Facebook</p>
                            <div class="actions">
                            
                                <a href="#" title="delete"  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="template-col">
                <div class="template-col-inner">
                        <h6>Yoga Classes</h6>
                        <p class="template-create"><i><img src="./assets/images/time.svg"></i><span>Created Jul 15, 2022</span></p>
                        <div class="template-bottom">
                            <p class="template-status"><span>Delivery :</span>Text, Email</p>
                            <div class="actions">
                            
                                <a href="#" title="delete"  class="delete">
                                    <span><i><img src="./assets/images/delete.svg"></i></span>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>