
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$school_angular-demo-primary: mat.define-palette(mat.$indigo-palette);
$school_angular-demo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$school_angular-demo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$school_angular-demo-theme: mat.define-light-theme((
  color: (
    primary: $school_angular-demo-primary,
    accent: $school_angular-demo-accent,
    warn: $school_angular-demo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($school_angular-demo-theme);

/* You can add global styles to this file, and also import other style files */




/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "general";

.primary-btn {border-color:transparent !important;outline:0 !important; width:100%;@include rem-fallback(min-height,56);@include rem-fallback(font-size,18); background-color:$orange !important;color:$white !important;@include rem-fallback(border-radius,6); @include rem-fallback(margin-bottom,20)}
.primary-btn:hover{border:1px solid $orange !important;background-color:transparent !important;color:$orange !important}
.primary-btn span:before{display:none;}
.auth-link{font-weight:600; position: relative; text-decoration:none; font-weight:600; color:$gray-text;@include rem-fallback(font-size,16);@include rem-fallback(margin-bottom,5); @include rem-fallback(line-height,24);}
.auth-link:after{content:"";width:0;height:1px;background-color:$orange;transition:0.3s all;position:absolute;left:0;bottom:0; }
.auth-link:hover:after{width:100%;}
.auth-link:hover{color:$orange}



.secondary-btn{@include rem-fallback(border-radius,6);border:1px solid transparent !important;
  @include rem-fallback(min-height,56);@include rem-fallback(max-width,291);@include rem-fallback(font-size,16);font-weight:500;}
  .secondary-btn i{display:inline-block;@include rem-fallback(margin-right,5);@include rem-fallback(width,15);}

  .secondary-btn i img{width:100%} 
  /* red btn */
.red-btn{background-color: $red !important;color:$white !important;
  .normal-img{
    display:block;
  }
  .hover-img{
    display:none;
  }
  }
.red-btn:hover{border-color:$red !important;color:$red !important;background-color:$white!important;
  i{
    .normal-img{
      display:none;
    }
    .hover-img{
      display:block;
    }
  }
}
/* end*/
.pink-btn{
  background-color: $light-pink !important;color:$orange !important;
  &:hover{
    border-color:$orange !important;background-color:$light-pink !important;
  }

}

.alert-btn{color:$red !important;background-color: $light-red !important;
  &:hover{
    border-color:$red !important;
  }

}



.password-link{color:$gray-text}
.forgot-password{color:$orange}
.form-group-wrapper .form-group:last-child{margin-bottom:0;}
.form-group{@include rem-fallback(margin-bottom,30);}
.form-group label{@include rem-fallback(margin-bottom,8);display:inline-block;@include rem-fallback(font-size,14);font-weight:400;color:$light-black;}
.form-control{transition: all 0.3s !important; color:$dark-gary;border:1px solid $input-border;@include rem-fallback(padding,10,15);@include rem-fallback(min-height,56);font-size:16px !important; }
.form-control:focus{border-color:$orange}
.form-control::placeholder{color:$dark-gary}
.form-control:focus{outline:0;box-shadow:none;}

.form-bottom{display: flex;flex-direction:column;justify-content: center;align-items: center;}


.rights-text {margin-bottom:0; position: absolute;bottom:0px;left:50%;transform:translateX(-50%); color:$light-black-text;@include rem-fallback(font-size,14);font-weight:500;@include rem-fallback(line-height,24)}


/* custom-checkbox*/
.custom-checkbox{@include rem-fallback(margin,30,0,30,0);}
.custom-checkbox .mdc-checkbox .mdc-checkbox__background{left:0 !important;top:7px !important; border:1px solid $input-border;@include rem-fallback(width,15);@include rem-fallback(height,15);}
.custom-checkbox label{font-weight:400;color:$light-black;@include rem-fallback(font-size,14);@include rem-fallback(line-height,21);}
.custom-checkbox.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected ~ .mdc-checkbox__ripple{background: $orange !important;}
.custom-checkbox.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{border-color:$orange !important;background-color:$orange !important;}
.custom-checkbox.mat-mdc-checkbox .mdc-checkbox{padding-right:0 !important;padding-left:0 !important;padding-top:0 !important}
.mat-ripple-element,.mdc-checkbox__ripple{display: none !important;}

.side-bar-toggle {position:absolute !important;top:10px;opacity:0;z-index:7;}
.inner-pages{background-color:$gray-1;@include rem-fallback(padding-left,280);@include rem-fallback(padding-top,64);}

.inner-block{@include rem-fallback(padding,20);}

::ng-deep .mat-mdc-button-persistent-ripple{display:none !important;}

.side-bar-close {
  transition:all 0.3s;
  .side-bar-section{
      left:-280px !important;
      transition:all 0.3s;
  }
  .header{
      left:0 !important;
      transition:all 0.3s;
  }
  .inner-pages{
      padding-left:0 !important;
      transition:all 0.3s;
  }
}


.side-bar-close{
  .header-left{
  .sidebar-toggle{
      transform:rotateZ(180deg);
  }
}
}


/* dropdown css start*/

.dropdown-block{
   .mat-mdc-form-field{
  @include rem-fallback(height,40);
  background-color: $white;
border:1px solid $dropdown-border;
@include rem-fallback(border-radius,6);
   }
}

.dropdown-block{
 .mdc-text-field--outlined{
  padding:0;
}
}
 .dropdown-block {
 .mat-mdc-text-field-wrapper{
  height:100% !important;
  padding:0 !important;
  background-color: $white !important;
  border-radius:6px !important;
}
 }
.dropdown-block {
.mat-mdc-form-field-subscript-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
}

}
 .dropdown-block {
 .mat-mdc-form-field-focus-overlay{
  display:none;
}
 }
 .dropdown-block{
  .mdc-line-ripple{
  display:none !important;
}
 }
 .dropdown-block {
 .mat-mdc-form-field {
 .mat-mdc-form-field-infix {
  width: 100%;
  padding: 0 !important;
  display: flex;
  align-items: center;
  @include rem-fallback(min-height,28);
}
}
 }
 .dropdown-block{
  .mat-mdc-form-field{
  mat-select, mat-label{
  color:$black;
   @include rem-fallback(font-size,14);
   @include rem-fallback(line-height,21);
   font-weight:400;
  @include rem-fallback(padding,7,12,5,12);
  @include rem-fallback(min-width,128);
}
  }
}

 .dropdown-block {
 .mat-mdc-form-field {
.mat-mdc-select-arrow {
  background-image: url('/assets/images/down-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include rem-fallback(height,10);

  @include rem-fallback(width,10);
  @include rem-fallback(margin-left,10);
  margin-top:2px;
  svg{
      display:none;
  }
}
 }
}
.mat-mdc-form-field {
.mat-mdc-form-field-subscript-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
}
}
.mat-mdc-option {
  padding:5px 10px !important;
  min-height:40px !important;
  span{
      color:$black;
  font-size:14px !important;
  line-height:21px !important;
   font-weight:400 !important;
  @include rem-fallback(min-width,128);
  }
}
 .mdc-menu-surface{
  margin-top:10px !important;
  border-radius:6px !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

 .mdc-floating-label{
  position: absolute;
  // top:50% !important;
  // transform: translateY(-50%) !important;
  font-size:14px !important;
  line-height:21px !important;
   font-weight:400 !important;
}
.mat-mdc-select-arrow-wrapper{
  transform:none !important;
}
 .mat-mdc-option-active {
  span{
    color:$blue !important;
  }
}



/* message page css start */
.tab-content-header{display: flex;justify-content: space-between;}
.dropdown-wrapper{display:flex;}














/*end*/