<!-- <div class="inner-pages">
<div class="my-shool-header">
    <div class="my-school-header-inner">
        <div class="school-left-header">
            <h3>My Schools</h3>
            <mat-form-field class="example-full-width form-field">
              <input matInput placeholder="Search Schools" type="search" value="Search Schools" class="form-control">
              <i><img src="./assets/images/search.svg"></i>
            </mat-form-field>
        </div>
        <div class="school-header-button">
            <button mat-button class="secondary-btn red-btn">
                <i><img src="./assets/images/alert.svg" alt=""></i><span>Send Emergency Alert</span>
            </button>
            <button mat-button class="secondary-btn pink-btn">
                <i><img src="./assets/images/school-icon.svg" alt=""></i><span>School not showing up?</span>
            </button>
        </div>
    </div>
</div> 
</div> -->
